@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {

/* Primary */

--Purple600: #5847eb;

--Orange300_work: #ff8c66;
--Blue300_play: #56c2e6;
--Pink400_study: #ff5c7c;
--Green400_exercise: #4acf81;
--Purple_700_social: #7536d3;
--Yellow300_self_care: #f1c65b;

/* Neutral */

--Navy950: #0f1424;
--Navy900: #1c1f4a;
--Navy700 : #34397B;
--Purple500: #6f76c8;
--Navy200: #bdc1ff;

}

/* <----- Global Settings -----> */

html {
    font-size: 62.5%;
    font-family: 'Rubik', 'Arial Narrow', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--Navy950);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
}

/* <----- Main Design -----> */

main {
    max-width: 111rem;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(22.5rem, 1fr) minmax(22.5rem, 1fr) minmax(22.5rem, 1fr) minmax(22.5rem, 1fr);
    grid-template-rows: minmax(0, 24.4rem) minmax(0, 24.4rem);
    grid-gap: 3rem;
}

/* <----- User Card -----> */

.user-card {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    background-color: var(--Navy900);
    border-radius: 1.6rem;
    overflow: hidden;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 4.2rem;
    background-color: var(--Purple600);
    border-radius: 1.6rem;
    flex-grow: 1;
    padding: 3.2rem;
}

.user-info img {
    max-width: 8.4rem;
    border: .3rem solid white;
    border-radius: 50%;
}

.user-info p {
    font-size: 1.6rem;
    color: var(--Navy200);
    margin-bottom: .2rem;
}

.user-info h1 {
    color: white;
    font-size: 4.4rem;
    font-weight: 300;
}

.time-selector {
    display: flex;
    flex-direction: column;
    padding: 2.8rem;
}

.time-selector button {
    background-color: transparent;
    border: none;
    color: var(--Purple500);
    font-size: 1.8rem;
    text-align: left;
    padding-block: 1rem;
    padding-inline: .4rem;
    transition: color;
    transition-duration: 100ms;
}

.time-selector .active {
    color: white;
}

.time-selector button:hover {
    color: white;
}

/* <----- Smaller Cards -----> */

.card {
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;
    padding-top: 4.6rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
    position: relative;
    z-index: 1;
    background-color: var(--Navy900);
    height: 100%;
    padding: 3rem;
    border-radius: 1.6rem;
    transition: all;
    transition-duration: 150ms;
}

.card-content:hover {
    background-color: var(--Navy700);
}

.title {
    display: flex;
    width: 100%;
    font-size: 1.8rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 1.8rem;
}

.settings {
    color: var(--Navy200);
    height: 4rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 150ms;
}

.settings:hover {
    color: white;
}

.Stats {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.Stats h1 {
    color: white;
    font-size: 5.6rem;
    font-weight: 300;
}

.Stats p {
 color: var(--Purple500);
 font-size: 1.6rem;
}

/* <----- Card image position -----> */

.card img {
    position: absolute;
    top: -1.1rem;
    right: 1.6rem;
}

.play img {
    top: -.6rem;
}

.exercise img {
    top: 0;
}

.social img {
    top: -1.6rem;
}

/* <----- Card Colors -----> */

.work {
    background-color: var(--Orange300_work);
}

.play {
    background-color: var(--Blue300_play);
}

.study {
    background-color: var(--Pink400_study);
}

.exercise {
    background-color: var(--Green400_exercise);
}

.social {
    background-color: var(--Purple_700_social);
}

.self-care {
    background-color: var(--Yellow300_self_care);
}

/* <----- Attribution -----> */

.attribution {
color: white;
font-size: 1.2rem;
position: absolute;
bottom: 3.6rem;
left: 50%;
translate: -50%;
}

.attribution a{
    color: var(--Yellow300_self_care);
}

@media (max-width: 1024px) {
    
    body {
        height: 100vh;
        padding-block: 2rem;
    }

    main {
        max-height: none;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {

    body {
        height: auto;
    }

    main {
        max-height: none;
        grid-template-columns: repeat(2, 1fr);
    }

        /* <----- Attribution -----> */
    .attribution {
        display: none;
    }
    
}

@media (max-width: 525px) {

    /* <----- Main Design -----> */

    body {
        display: block;
        height: auto;
    }

    main {
        display: flex;
        flex-direction: column;
        max-height: none;
    }

    /* <----- User Card -----> */

    .user-card {
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--Navy900);
        border-radius: 1.6rem;
        overflow: hidden;
    }

    .user-info {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .user-info img {
        max-width: 7rem;
        height: 7rem;
    }

    .user-info h1 {
        font-size: 2.8rem;
    }

    .time-selector {
        flex-direction: row;
        padding: 2rem 2rem;
        gap: .2rem;
    }

    .time-selector button {
        flex-grow: 1;
        text-align: center;
        font-size: 2rem;
    }

    /* <----- Smaller Card -----> */

    .Stats {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}